/* global style */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #16a085;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

/* nav */
nav.navbar {
    z-index: 999;
    padding: .7rem 1rem !important;
}

.navbar-brand {
    width: 60px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2.5rem;
}

.nav-link:hover {
    color: var(--green) !important;
}

button.navbar-toggler {
    background: unset;
    border: unset;
    outline: unset;
}

/* header */
.jumbotron.jumbotron-fluid {
    margin-top: 22%;
    background: transparent;
}

.kategori .link-kategori {
    color: rgba(0, 0, 0, .8);
    font-size: 1rem;
    font-weight: 600;
    margin-left: -1rem;
    margin-right: 1.5rem;
    text-decoration: none;
}

.kategori .link-kategori:hover {
    color: var(--green);
}

.kategori .link-kategori:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--green);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.form-group {
    margin-top: 1.6rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1rem;
}

.form-group .form-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .6)
}

.form-group .form-input:-moz-input-placeholder {
    6 color: rgba(0, 0, 0, .6)
}

.form-group .form-input {
    padding: 6px;
    width: 25rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    background: unset;
    border: unset;
    outline: unset;
    padding-left: 2rem;
    font-weight: 600;
}

.form-group .search-btn {
    background: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
}

.search-btn .fa-search {
    font-size: 17px;
    padding-right: 5px;
    color: var(--green);
    margin-top: 0px;
}

.search-btn .fa-search:hover {
    color: darkgreen;
}

/* main */
main .card-wrapper {
    margin-top: -2rem;
    margin-bottom: 2rem;
}

main .card-wrapper img {
    width: 100%;
    border-radius: 1.2rem 1.2rem 0 0;
}

main .card-wrapper a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    font-weight: 700;
}


main .card {
    border: unset;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

main .card img {
    width: 50%;
    border-radius: .5rem;
}

.card .card-body a {
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 1rem;
    color: rgba(0, 0, 0, .7);
    font-weight: 500;
}

.card .card-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

.card .text-muted {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .8rem;
}

.card-wrapper .card-footer {
    border-top: unset;
    text-align: right;
}

.card-wrapper .text-muted {
    font-size: 1.1rem;
}

.pagination {
    padding-top: 5rem;
}

.page-item {
    padding: 2rem;
}

.page-link.prev,
.page-link.next {
    background-color: var(--green) !important;
    color: white;
    border-radius: 10%;
    font-size: 1.8rem;
}

.page-link.prev:hover,
.page-link.next:hover {
    background-color: #106d5a !important;
    transition: 0.5s;
}

.page-link {
    border: unset !important;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .7);
    font-weight: 700;
}

/* footer */
.footer {
    position: relative;
    background: #F1F1F1;
    padding-top: 2rem;
}

.footer-top {
    padding-bottom: 5rem;
}

.footer-top .footer-item {
    padding-top: .8rem
}

.footer-top .footer-link {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .8);
    font-weight: 300;
    text-decoration: none;
}

.footer-link span {
    color: var(--green);
    font-weight: 600;
}

.footer-top h3 {
    margin-top: 2rem;
    font-weight: 600;
}

.footer-top .link-download img {
    margin-top: 8px;
}

.footer-top .follow-us img {
    margin-right: 5px;
}

.footer-top .follow-us a {
    text-decoration: none;
}

.footer .footer-bottom {
    position: absolute;
    left: 0;
    right: 0;
    background: #f1f1f1;
}

.footer-bottom p {
    text-transform: capitalize;
    font-size: 1.1rem;
}

.footer-bottom span {
    color: var(--green);
}

@media (min-width: 320px) and (max-width: 450px) {
    .jumbotron.jumbotron-fluid {
        margin-top: 20%;
    }

    .kategori .link-kategori {
        font-size: 1.1rem;
    }

    .form-group .form-input {
        padding: 6px;
        width: 20rem;
        font-size: 1.2rem;
        border-radius: 5px;
        padding-left: 1rem;
    }

    .form-group {
        margin-top: 2rem;
    }

    .search-btn .fa-search {
        font-size: 18px;
        padding-right: 8px;
        margin-top: 3px;
    }

    /* main */
    main .card-wrapper a {
        font-size: 1.5rem;
    }

    main .card {
        margin-bottom: 5rem;
    }

    .card .card-body a {
        font-size: 1.1rem;
        top: 15px;
    }

    /* footer */
    .card .text-muted {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .jumbotron.jumbotron-fluid {
        margin-top: 9%;
        background: transparent;
    }

    .kategori .link-kategori {
        font-size: 1.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    main .card-wrapper a {
        font-size: 1.5rem;
    }


    .card .card-body a {
        font-size: 1.5rem;
        top: 3rem;
    }

    .card .text-muted {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1rem;
    }

}

@media (min-width: 768px) {
    .navbar-brand {
        width: 70px;
    }

    .nav-link {
        color: black;
        font-size: 1.5rem;
    }

    button.navbar-toggler {
        font-size: 1.8rem;
    }

    .jumbotron.jumbotron-fluid {
        margin-top: 8%;
    }

    .form-group .form-input {
        padding: 10px;
        width: 30rem;
        font-size: 1.3rem;
        padding-left: 1.7rem;
    }

    .search-btn .fa-search {
        font-size: 20px;
        padding-right: 10px;
    }

    .kategori .link-kategori {
        font-size: 1.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    main .card-wrapper a {
        font-size: 2rem;
    }

    .card-wrapper .text-muted {
        font-size: 1.5rem;
    }

    .card .card-body a {
        font-size: 1.7rem;
        top: 2rem;
    }

    .card .text-muted {
        font-size: 1.3rem;
    }

    /* footer */
    .footer-bottom p {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 80px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    /* header */
    .jumbotron.jumbotron-fluid {
        margin-top: 6%;
    }

    .kategori .link-kategori {
        font-size: 1.7rem;
    }

    .form-group .form-input {
        width: 52rem;
    }


    /* main */
    main.wrapper {
        padding-bottom: 8rem;
    }

    main .card {
        display: unset;
    }

    main .card img {
        width: 100%;
        border-radius: 1.2rem 1.2rem 0 0;
    }

    .card .card-body a {
        font-size: 1.5rem;
        text-decoration: none;
        position: unset;
    }

    .card .card-footer {
        position: unset;
    }

    .card .text-muted {
        position: unset;
        font-size: 1.2rem;
    }

    /* footer */
    .footer-top .footer-item:hover {
        transform: translateX(5px);
        transition: .6s;
    }

    .footer-item .footer-link:hover {
        color: black;
        transition: .3s;
    }

    .footer-bottom p {
        font-size: 1.3rem;
    }
}